Django==2.0.5; python_version >= '3.0' 
Django==1.7.5; python_version < '3.0' 
Pillow
MySQL-python; python_version < '3.0' 
mysqlclient; python_version >= '3.0'  
django-crispy-forms==1.7.2
django-registration-redux==2.4
python-social-auth==0.3.6
social-auth-app-django==2.1.0
django-coverage==1.2.4
coverage==4.5.1
