{% load static %}
{% load pag %}
{% url 'home' as students_list_url %}
{% url 'groups' as groups_list_url %}
{% url 'journal' as journal_url %}
{% url 'examins' as examins_url %}
{% url 'examins_results_list' as examins_results_url %}
{% url 'contact_admin' as contact_admin_url %}

<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8"/>
    <title>Сервіс Обліку Студентів {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description" value="Система Обліку Студентів Навчального Закладу" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link class="common" rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link class="common" rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">
    <link class="common" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <!-- Start Container -->
    <div class="container">

      <!-- Start Header -->
      <div class="row" id="header"> 
        <div class="col-xs-8">
          <h1>Сервіс Обліку Студентів</h1>
        </div>
        <div class="col-xs-4" id="group-selector">
          <strong>Група:</strong>
          <select>
            <option value="">Усі Студенти</option>
            {% if GROUPS_ALL %}
              {% for group in GROUPS_ALL %}
                <option value="{{ group.id }}" {% if group.selected %}selected{% endif %}>{{ group.str }}</option>
              {% endfor %}
            {% endif%}
          </select>
        </div>
      </div>
      <!-- End Header -->

      <!-- Start subheader -->
      <div class="row" id="sub-header"> 
        <div class="col-xs-12">
          <ul class="nav nav-tabs main-nav" role="tablist">
            <li role="presentation" {% if request.path == students_list_url %} class="active" {% endif %}>
              <a href="{% url 'home' %}">Студенти</a>
            </li>
            <li role="presentation" id="journal" {% if journal_url in request.path %} class="active" {% endif %}>
              <a href="{% url 'journal' %}">Відвідування</a>
            </li>
            <li role="presentation" {% if groups_list_url in request.path %} class="active" {% endif %}>
              <a href="{% url 'groups' %}">Групи</a>
            </li>
            <li role="presentation" {% if examins_url == request.path %} class="active" {% endif %}>
              <a href="{% url 'examins' %}">Екзаміни</a>
            </li>
            <li role="presentation" {% if examins_results_url in request.path %} class="active" {% endif %}>  <a href="{% url 'examins_results_list' %}">Результати екзамінів</a>
            </li>
            <li role=”presentation” {% if contact_admin_url in request.path %} class=”active”{% endif %}>
              <a href="{% url 'contact_admin' %}">Контакт</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End subheader -->

      <!-- Start Content Columns -->
      <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">

          {% block status_message %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endblock %}

          <!-- {% block status_messages %}
            {% if request.GET.status_message %}
              <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
            {% endif %}
          {% endblock %}
          <div class="alert alert-warning" role="alert">Студент успішно доданий.</div> -->
          <!-- test1 {{ mama.name }} test2 -->

          <h2>{% block title %}{% endblock title %}</h2>
          {% block content %}{% endblock content %}
          
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
                </div>
                <div class="modal-body"><!-- --></div>
                <div class="modal-footer"><!-- --></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="loader-wrapper">
        <div class="centered">
          <div class="loader-block">
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-text">
              Loading
            </div>
          </div>
        </div>
      </div>
      <div class="waiter">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <!-- End Content Columns -->
      

      
      <!-- {% include "students/pagination.html" %} -->
<!--       {% if students %}
        {% render_pagination students %}
      {% endif%} -->

      {% if groups %}
        {% render_pagination groups %}
      {% endif%}

      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          &copy; 2014 Сервіс Обліку Студентів
        </div>
      </div>
      <!-- End Footer -->

    </div>
    <!-- End Container -->

    <!-- Javascripts Inclusion -->
    <div id="scripts">
      <script class="common-script" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
      <script class="common-script" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
      <script class="common-script" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script class="common-script" src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script class="common-script" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
      <script class="common-script" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.uk.min.js"></script>
      <script class="common-script" src="{{ PORTAL_URL }}{% static 'js/main.js' %}"></script>
      {% block extra_js %}{% endblock extra_js %}
    </div>
  </body>
</html>