{% extends "students/base.html" %}

{% load static %}

{% block meta_title %}- Логи{% endblock meta_title %}

{% block title %}Логи{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/logs/main.css' %}">
{% endblock extra_css %}

{% block content %}
  <div class="alert alert-warning">
    
  </div>
	<table class="table table-hover table-striped">
    {% csrf_token %}
		<thead class="thead-inverse">
            <tr>
              <th>id</th>
              <th>
                <img class="filter-icon" src="{{ PORTAL_URL }}{% static 'img/logs/funnel-inactive.png' %}" height="16" width="16" />Log Level
                <div class="filter-window">
                  <div class="filter-window-select">
                    <div class="filter-window-select-main">
                      <span class='text'>Select</span>
                      <img class="filter-window-select-main-arrow" src="{{ PORTAL_URL }}{% static 'img/logs/arrow-down.png' %}" height="9" width="7" />
                    </div>
                    <div class="filter-window-select-box">
                      <ul id="filter-log-level">
                        <li data-value="DEBUG">DEBUG</li>
                        <li data-value="INFO">INFO</li>
                        <li data-value="WARNING">WARNING</li>
                        <li data-value="ERROR">ERROR</li>
                        <li data-value="CRITICAL">CRITICAL</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </th>
              <th>
                <img class="filter-icon" src="{{ PORTAL_URL }}{% static 'img/logs/funnel-inactive.png' %}" height="16" width="16" />Date
                <div class="filter-window">Filter</div>
              </th>
              <th>
                <img class="filter-icon" src="{{ PORTAL_URL }}{% static 'img/logs/funnel-inactive.png' %}" height="16" width="16" />Module
                <div class="filter-window">Filter</div>
              </th>
              <th>
                <img class="filter-icon" src="{{ PORTAL_URL }}{% static 'img/logs/funnel-inactive.png' %}" height="16" width="16" />Message
                <div class="filter-window">Filter</div>
              </th>
            </tr>
        </thead>
        <tbody>
        	{% for log in logs %}
        		<tr>
        			<td>{{ log.id }}</td>
	        		<td>{{ log.log_level }}</td>
	        		<td>{{ log.date|date:"Y-m-d H:i:s" }}</td>
	        		<td>{{ log.module }}</td>
	        		<td>{{ log.message }}</td>
        		</tr>
        	{% endfor %}
        </tbody>
	</table>
  <select id="log-size">
    <option value="">Logs per page (10)</option>
    <option value="20" {% if page_size == 20 %}selected{% endif %}>20 logs per page</option>
    <option value="30" {% if page_size == 30 %}selected{% endif %}>30 logs per page</option>
    <option value="40" {% if page_size == 40 %}selected{% endif %}>40 logs per page</option>
  </select>
{% endblock %}

{% block extra_js %}
  <script src="{{ PORTAL_URL }}{% static 'js/logs/main.js' %}"></script>
{% endblock extra_js %}