{% extends "students/base.html" %}
{% load static %}
{% block meta_title %}Видалити Студента{% endblock meta_title %}
{% block title %}Видалити Студента{% endblock title %}

{% block content %}
	<form action="{% url "students_delete" student.id %}" method="post">
		{% csrf_token %}
		<p>Ви дійсно хочете видалити студента "{{ student }}"?</p>
		<input type="submit" value="Так" name="delete_button" class="btn btn-danger" />
		<input type="submit" name="cancel_button" class="btn btn-link" value='Скасувати'>
		<br /><br />
	</form>
{% endblock content %}