{% extends "students/base.html" %}
{% load static %}
{% load i18n %}

{% block meta_title %}{% trans "Delete Student" %}{% endblock meta_title %}
{% block title %}{% trans "Delete Student" %}{% endblock title %}

{% block content %}
	<form action="{% url "students_delete" student.id %}" method="post">
		{% csrf_token %}
		<p>{% blocktrans %}Do you really want to delete student: "{{ student }}"?{% endblocktrans %}</p>
		<input type="submit" value="{% trans "Oui" %}" name="delete_button" class="btn btn-danger" />
		<input type="submit" name="cancel_button" class="btn btn-link" value="{% trans "Non" %}">
		<br /><br />
	</form>
{% endblock content %}