/* Global Styles */
.alert {
  margin: 10px 0 5px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, a:active,a:visited, a:focus,
button, button:active, button:visited, button:focus, button:active:focus,
input[type="submit"], input[type="submit"]:active, input[type="submit"]:visited, 
input[type="submit"]:focus, input[type="submit"]:active:focus {
  outline: 0;
  border: none;
}
/* Groups Selector */
#group-selector {
  margin-top: 30px;
}

.languages {
  display: inline;
  position: absolute;
  right: 500px;
  top: 34px;
  color: pink;
}

.language_selected {
  padding: 5px;
  background: pink;
  color: white;
  border-radius: 2px;
}

.language:hover {
  cursor: pointer;
}

#user-toolbar {
  margin-top: 35px;
}


#group-selector select {
  width: 80%;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  color: #555555;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

.load_more_button {
  width: 100px;
  height: 50px;
  /*padding: 0;*/
  margin-bottom: 10px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /*text-transform: uppercase;*/
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  background: #428bca;
  transform: none;
  border: none;
  outline: none;
}

.modal-header .close {
  margin-top: 0;
  transform: translateY(-50%);
}

.modal-footer {
  text-align: center;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0;
}

p.error {
  color: #d9213b;
}


.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  vertical-align: middle;
  display: none;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader-block {
  text-align: center;
  width: 150px;
  background: white;
  padding: 15px;
  border: 1px solid rgba(253, 142, 12, 0.4);
  border-radius: 10px;
}

.loader-line {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fd8e0c;
    margin: 0 1px;
    display: inline-block;
    animation: opacity 1s infinite ease-in-out;
}

.loader-line:first-child   { animation-delay: 100ms; }
.loader-line:nth-child(2) { animation-delay: 200ms; }
.loader-line:nth-child(3) { animation-delay: 300ms; }
.loader-line:nth-child(4) { animation-delay: 400ms; }
.loader-line:nth-child(5) { animation-delay: 500ms; }
.loader-line:nth-child(6) { animation-delay: 600ms; }
.loader-line:nth-child(7) { animation-delay: 700ms; }
.loader-line:nth-child(8) { animation-delay: 800ms; }


.loader-text {
  text-transform: uppercase;
  font-weight: bold;
    text-align: center;
    margin: 10px auto;
    color: #222;
    animation: bounce 2s ease-in-out infinite;
}

.waiter {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
}

.waiter div {
  animation: roll 1.2s cubic-bezier(.72,1.77,.79,.69) infinite;
  transform-origin: 16px 16px;
}

.waiter div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #2971fd;
}

.waiter div:nth-child(1) {
  animation-delay: 0.036s;
}

.waiter div:nth-child(1):after {
  top: 29px;
  left: 7px;
}

.waiter div:nth-child(2) {
  animation-delay: 0.072s;
}

.waiter div:nth-child(2):after {
  top: 31px;
  left: 12px;
}

.waiter div:nth-child(3) {
  animation-delay: 0.108s;
}

.waiter div:nth-child(3):after {
  top: 31px;
  left: 18px;
}

.waiter div:nth-child(4) {
  animation-delay: 0.144s;
}

.waiter div:nth-child(4):after {
  top: 29px;
  left: 23px;
}

.waiter div:nth-child(5) {
  animation-delay: 0.18s;
}

.waiter div:nth-child(5):after {
  top: 25px;
  left: 27px;
}


@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity { 
  0% { 
     opacity: 1;
  }
  50% { 
     opacity: 0;
     transform: scale(1.1);
  }
  100% { 
     opacity: 1;
  }  
}

@keyframes bounce {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}