th, td {
	text-align: center;
}

.thead-inverse th {
	color: #fff;
	background-color: #373a3c;
}

tr:hover {
	background: orange !important;
	color: white !important;
}

select {
	float: right;
}

div.alert {
	opacity: 0
}