.alert {
	opacity: 0;
}


#ajax-progress-indicator {
	display: inline-block;
	color: green;
}

#ajax-progress-indicator-ok {
	display: none;
	color: green;
}

#ajax-progress-indicator-error {
	display: none;
	color: red;
}